[submodule "src/sundown"]
	path = src/sundown
	url = https://github.com/marc-sturm/sundown.git
[submodule "src/cppCORE"]
	path = src/cppCORE
	url = https://github.com/marc-sturm/cppCORE.git
[submodule "src/cppGUI"]
	path = src/cppGUI
	url = https://github.com/marc-sturm/cppGUI.git
